<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Home Page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro nulla quaerat dolorem accusamus itaque corrupti nostrum veniam sint. Voluptate fugit voluptatum cupiditate rerum repellat est. Autem adipisci eaque odit libero?</p>
    <table border="1">
        <tr><td>1</td><td>1</td><td>1</td></tr>
        <tr><td>1</td><td>1</td><td>1</td></tr>
        <tr><td>1</td><td>1</td><td>1</td></tr>
        <tr><td>1</td><td>1</td><td>1</td></tr>
    </table>
</body>
</html>